.slideshow_container {
    position: relative;
    width: 91.2%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:-20px 0px 20px 50px;


    .slide-image {
      width: 100%;
      border-radius: 25px;
      object-fit: cover;
      height:400px;
    }
  
    .fa-chevron-left, .fa-chevron-right {
      font-size: 4.5em;
      color: white;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
      position:absolute;
    }
  
      .fa-chevron-left {
        left: 10px;
      }
  
      .fa-chevron-right {
        right: 10px;
      }
    }