.cardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(250, 248, 248);
    border-radius: 15px;    
    width: 90%;
    margin:60px;
}

@media (max-width: 767.98px){
    .cardContainer{
        width:100%;
        background-color: white;
        margin:-5px;
        margin-bottom: 10px;
    }
}