.logement_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 33px;

    .Host {
        margin-right: 86px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    font-family: montserrat;

    .title {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .location {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        margin-top: 0px;
    }
}

.description_equipements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 0px 0px 30px -33px;

    button {
        width: 51em;
        height: 4em;
    }

        .description_content {
            font-size: 1em;
            color: #333;
            padding: 20px 12px;
            background-color: rgb(245, 241, 241);
            font-family: "Montserrat", sans-serif;
            font-weight: lighter;
            margin-top: -12px;
            text-align: left;
            width: 40em;
        }

         .equipements_content {
            font-size: 1em;
            list-style: none;
            color: #333;
            padding: 12px;
            background-color: rgb(245, 241, 241);
            font-family: "Montserrat", sans-serif;
            font-weight: lighter;
            margin-top: -12px;
            text-align: left;
            width: 40em;
        }
    }

    @media (max-width: 767.98px){
        .logement_body{
            width:90%;

            .logement_details {
                display: flex;
                flex-direction: column;
                gap: 10px; 
                width: 100%; 
                
                .Host {
                  display: flex;
                  flex-direction: row; 
                  margin-bottom: -20px;
                  justify-content: space-between; 
                  align-items: center; 
                  text-align: left; 
                  width: 100%; 
                  gap: 10px; 
                }

            .description_equipements{
                display:flex;
                flex-direction: column;
            }

        }
    }  
}
