.logement_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 33px;
    width: 100%;


    .Host {
        margin-right: 86px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    font-family: montserrat;
    width: 70%;

    .title {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .location {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        margin-top: 0px;
    }
}

.description_equipements {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    margin-left: 52px;
    margin-bottom: 33px;

}

@media (max-width: 767.98px) {
    .logement_body {
        width: 90%;

        .Host {
            margin-right: -45px;
            margin-left: 40px;
        }

        .logement_details {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: -20px;


            .info {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: left;
                margin-left: 40px;

                .title {
                    font-size: 18px;
                    font-weight: 500;
                }

                .location {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

        .description_equipements {
            gap: 10px;
            width: 105%;
            display: flex;
            flex-direction: column;
            margin-left: 115px;
        }

    }

}