.host_container {
    display: flex;
    flex-direction: column;
    gap:15px;

.host_identity {
    display: flex;
    flex-direction: row;
    gap:20px;

   .host_face {
        border-radius: 35px;
        width: 3.88em;
        height: 3.88em;
    }

    .name{
        color: #FF6060;
    }
}

.star_rating{
   margin-right: -86px;

   .filled{
    color:#FF6060;
   }

   .empty{
    color:lightgrey;
   }
}

}