.collapse_menu {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;

    button {
        padding-right: 20px;
        cursor: pointer;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ff6f61;
        border-radius: 5px;
        border: none;
    }

    .fa-solid {
        font-size: 1.2em;
        color: white;
    }
}

.collapsed_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;
    
    button {
        padding-right: 20px;
        cursor: pointer;
        width: 79%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ff6f61;
        border-radius: 5px;
        border: none;
    }

    .fa-solid {
        color: white;
        font-size: 1.2em;
        transform: rotate(360deg);
        transition: transform 0.3s ease;
    }

    .collapsed_content {
        font-size: 1.25em;
        color: #333;
        padding: 5px 12px;
        background-color: rgb(245, 241, 241);
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        margin-top: 1px;
        text-align: left;
        width: 77%;
        margin-bottom: 3px;
    }
}

h2 {
    font-size: 1.5em;
    color: white;
}

@media (max-width: 767.98px){
    .collapse_menu{
        button {
            padding-right: 20px;
            width:95%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ff6f61;
            border-radius: 5px;
            border: none;
            margin-left:-225px;
        }
    }

    .collapsed_menu{
        button {
            padding-right: 20px;
            width:90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ff6f61;
            border-radius: 5px;
            border: none;
            margin-left:-225px;
        }

        .collapsed_content {
            font-size: 1.25em;
            margin-top: 1px;
            text-align: left;
            width: 83%;
            margin-bottom: 3px;
            margin-left:-225px;
        }
    }
}

