.collapse_menu {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    cursor: pointer;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;

    button {
        padding-right: 20px;
        cursor: pointer;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ff6f61;
        border-radius: 5px;
        border: none;
    }

    .fa-solid {
        font-size: 1.2em;
        color: white;
    }
}

.collapsed_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;

    .fa-solid {
        color: white;
        font-size: 1.2em;
        transform: rotate(360deg);
        transition: transform 0.3s ease;
    }

    button {
        padding-right: 20px;
        cursor: pointer;
        width: 78.8%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ff6f61;
        border-radius: 5px;
        border: none;
    }
}

h2 {
    font-size: 1.5em;
    color: white;
}

@media (max-width: 767.98px) {
    .collapse_menu {
        button {
            padding-right: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ff6f61;
            border-radius: 5px;
            border: none;
            margin-left: -220px;
        }
    }

    .collapsed_menu {
        button {
            padding-right: 20px;
            width: 97.1%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ff6f61;
            border-radius: 5px;
            border: none;
            margin-left: -220px;
        }

    }
}