.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-top:-86px;
}

.header_logo{
    height:68px;
    border:none;
    border-radius: 1px;
}

nav{
    display: flex;
    gap: 33px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
