.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: -68px;
   
    .header_nav {
        display: flex;
        gap: 20px;
        font-size: 18px;
        text-decoration: none;
    }

    .header_nav.active {
        border-bottom: solid 1px black;
    }
   
}